{% extends "admin/partials/base.admin.html.twig" %}

{% block title %}Admin{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<h1 class="text-dark text-center mt-5 mb-4">Your Favourite Movie Database</h1>
<div class="back_page">
  <div class="container">
    <div class="row pt-4">
      <div class="card-body">
        <h5 class="card-title">Here you can choose to do the following:</h5>
        <table class="table">
          <tbody>
            <tr>
              <td>Add new movie to the database</td>
              <td><button type="button" class="btn btn-primary btn-sm">Add movie</button></td>  
            </tr>
            <tr>
              <td>Update the movies</td>
              <td><button type="button" class="btn btn-primary btn-sm">Update movies</button></td>
            </tr>
          </tbody>
        </table>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
{% endblock %}