* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../img/bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h1 {
  /* text-align: center; */
  /* margin-bottom: 0px;
  padding-bottom: 3rem; */
  padding-top: 1.5em !important;
}

.card-block ul {
  list-style: none;
  display: flex;
}

.card-img-top {
  height: 295px;
  object-fit: cover;
}

/* .card:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
} */